* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #ede7f6 url(https://res.cloudinary.com/dh4osksz7/image/upload/v1591851229/forestfriends_c8udhm.jpg)
}

header {
    flex: 0 0 auto;
    align-self: flex-start;
    width: 100%;
    margin-top: 0;
    padding: 21px 0 0 0;
    z-index: 3;
    background-color: #ede7f6;
    text-align: center;
}

nav {
    flex: 0 0 auto;
    width: 100%;
    background-color: #ede7f6;
    padding-top: 21px;
    padding-bottom: 21px;
    z-index: 2;
    text-align: center;
    box-shadow: 0 10px 25px -11px rgba(0, 0, 0, 0.76);
}

section {
    flex: 1 0 auto;;
    align-self: center;
    margin: 50px 0;
    padding: 32px;
    width: 70%;
    z-index: 1;
    background-color: #ede7f6d0;
    border-radius: 30px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
    text-align: center;
}

footer {
    flex: 0 0 auto;
    align-self: flex-end;
    width: 100%;
    padding-top: 21px;
    padding-bottom: 21px;
    margin-bottom: 0;
    z-index: 3;
    background-color: #ede7f6;
    text-align: center;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

footer {
    border-top: 1px solid #f0eeed;
}

.specialText {
    font-family: 'Parisienne', 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 4.5em;
    line-height: 1;
    text-align: center;
}

.row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
    float: left;
    width: 25%;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /* Larger than mobile screen */
@media (min-width: 40.0rem) {
  body {
    font-size: 2.0em;
    line-height: 2.0;
  }

  img{
    max-width: 75%;
  }
}

/* Larger than tablet screen */
@media (min-width: 80.0rem) {
  body {
    font-size: 2.5em;
    line-height: 2.5;
  }
   img{
    max-width: 50%;
  }
}

/* Larger than desktop screen */
@media (min-width: 120.0rem) {
  body {
    font-size: 3.0em;
    line-height: 3.0;
  }
  img{
   max-width: 35%;
 }
}