* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #f0eeed url(https://res.cloudinary.com/dh4osksz7/image/upload/v1591851229/forestfriends_c8udhm.jpg)
}

header {
    flex: 0 0 auto;
    align-self: flex-start;
    width: 100%;
    margin-top: 0;
    padding: 21px 0;
    z-index: 3;
    background-color: #fff;
    text-align: center;
}

nav {
    flex: 0 0 auto;
    width: 100%;
    background-color: #fff;
    padding-top: 21px;
    padding-bottom: 21px;
    z-index: 2;
    text-align: center;
    box-shadow: 0 10px 25px -11px rgba(0, 0, 0, 0.76);
}

section {
    flex: 1 0 auto;;
    align-self: center;
    margin: 50px 0;
    padding: 32px;
    width: 70%;
    z-index: 1;
    background-color: #ffffffd0;
    border-radius: 30px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
}

footer {
    flex: 0 0 auto;
    align-self: flex-end;
    width: 100%;
    padding-top: 21px;
    padding-bottom: 21px;
    margin-bottom: 0;
    z-index: 3;
    background-color: #fff;
    text-align: center;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

footer {
    border-top: 1px solid #f0eeed;
}

.specialText {
    font-family: 'Parisienne', 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 6em;
    line-height: 1;
    text-align: center;
}