<!DOCTYPE html>
<html class="no-js" lang="en-US">

	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<meta name="description" content="Waddell Baby Shower">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="author" content="Joshua Waddell">
		<link rel="author" href="humans.txt">

		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
	</head>
	<body class="backgroundff">
		<header class="full">
			Judi Waddell
		</header>
		<nav class="header">
			<ul>
				<li><a href="/baby">Home</a></li>
				<li><a href="/baby#Book">Guest Book</a></li>
				<li><a href="/baby#Gift">Gift Registries</a></li>
				<li><a href="/baby/view#Photo">Photo Album</a></li>
				<li><a href="/baby/view#Video">Videos</a></li>
				<li><a href="/baby/activities#Bets">Bets</a></li>
				<li><a href="/baby/activities#Games">Games</a></li>
				<li><a href="/baby#Chat">Video Chat</a></li>
			</ul>
		</nav>
		<section class="main post">
            {{ content }}
		</section><!-- /.main -->
		<footer>
    		<ul>
				<li>A big thank you from us to you!</li>
			</ul>
		</footer>
	</body>
</html>