<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<header>
			<div>
				Judi Waddell
			</div>
			<nav>
				<ul>
					<li><a href="/baby">Home</a></li>
					<li><a href="/baby#Book">Guest Book</a></li>
					<li><a href="/baby#Gift">Gift Registries</a></li>
					<li><a href="/baby/view#Photo">Photo Album</a></li>
					<li><a href="/baby/view#Video">Videos</a></li>
					<li><a href="/baby/activities#Bets">Bets</a></li>
					<li><a href="/baby/activities#Games">Games</a></li>
					<li><a href="/baby#Chat">Video Chat</a></li>
				</ul>
			</nav>
		</header>
		<div class="container">
            {{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
			</ul>
		</footer>
	</body>
</html>